@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.gallery {
    padding: 20px 0;
    font-family: "Bebas Neue", sans-serif;

    .gallery_menu {
        display: flex;
        gap: 15px;
        margin-bottom: 24px;

        .gallery_menu_btn {
            padding: 10px 20px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #E6ECF5;
            color: #227DA5;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 700;
            font-size: 20px;

            &.active {
                background: #227DA5;
                color: #fff;
                border-color: #227DA5;
            }
        }
    }

    .gallery_content {
        .photo_gallery {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .photo_card {
                width: 30%;
                height: 450px;
                margin: 10px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 20px;
                position: relative;
            }

            .photo_card3 {
                width: 30%;
                height: 320px;
                margin: 10px;
                background-size: cover; 
                background-position: center;
                background-repeat: no-repeat;
                
                border-radius: 20px;
                position: relative;

                h4 {
                    color: #fff;
                    font-weight: 700;
                    font-size: 26px;
                    padding: 10px;
                }

                &>div {
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                .btn_3d {
                    width: 100px;
                    height: 100px;
                    background: url(../../shared/img/3d.svg);
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                .threeD {
                    background: #227DA5;
                    color: #fff;
                    border-radius: 50%;
                    width: 65px;
                    height: 65px;
                    margin-top: 10px;
                    display: flex;
                    border: none;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 45px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;

        iframe {
            max-width: 70%;
            max-height: 70%;
        }
    }

}

@media (max-width: 1024px) {
    .gallery {
        .gallery_content {
            .photo_gallery {
                .photo_card {
                    width: 45%;
                    height: 350px;


                }

                .photo_card3 {
                    width: 45%;
                    height: 300px;
                }
            }
        }



    }

}

@media (max-width: 768px) {
    .gallery {
        .gallery_menu {
            flex-direction: column;
            padding: 0 5px;
        }

        .gallery_content {
            .photo_gallery {
                justify-content: center;

                .photo_card {
                    width: 85%;
                }

                .photo_card3 {
                    width: 85%;
                    height: 350px;
                }
            }
        }


        .modal {
            iframe {
                max-width: 90%;
                max-height: 70%;
            }
        }
    }
}