.gallery {
    padding: 100px 0;

    .gallery_menu {
        display: flex;
        gap: 15px;
        margin-bottom: 88px;

        .gallery_menu_btn {
            padding: 10px 20px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #E6ECF5;
            color: #227DA5;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 700;
            font-size: 20px;

            &.active {
                background: #227DA5;
                color: #fff;
                border-color: #227DA5;
            }
        }
    }

    .gallery_content {
        .photo_gallery {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;



            div {
                width: 420px;
                height: 450px;
                margin: 10px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                img {
                    border-radius: 20px;
                    width: 420px;
                    height: 450px;
                }
            }
        }

        .photo3d_gallery {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .photo3_card {
              
                img {
                    width: 420px;
                    height: 350px;
                    border-radius: 12px;
                    margin: 10px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: flex-end;
                    //   0 100  сол жагы асты   .  0 0  сол   усту   . 100  0   усту  он .   
                    clip-path: polygon(99.44% 0.00%,100.00% 71.28%,99.66% 72.12%,99.27% 72.75%,98.61% 73.59%,98.26% 73.86%,97.46% 74.82%,95.93% 75.99%,95.20% 76.19%,93.70% 75.96%,93.15% 76.10%,91.85% 75.79%,89.78% 75.40%,88.90% 75.55%,87.08% 75.85%,86.62% 76.40%,85.16% 77.77%,84.93% 77.91%,84.76% 78.26%,84.47% 78.68%,83.25% 79.31%,82.57% 80.25%,81.64% 82.57%,80.90% 83.65%,80.70% 85.25%,80.57% 86.27%,81.09% 88.52%,81.25% 89.97%,81.60% 91.75%,81.39% 93.59%,81.65% 94.95%,81.13% 96.12%,80.12% 97.26%,79.50% 98.01%,77.90% 98.89%,76.46% 100.00%,75.29% 100.00%,44.59% 100.00%,0.00% 100.00%,0.00% 0.00%);}             
                       div {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-top: -100px;
                }


                h4 {
                    backdrop-filter: blur(3px);
                    padding: 10px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 26px;
                }

                .threeD {
                    background: #227DA5;
                    color: #fff;
                    border-radius: 50%;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    border: none;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 45px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.modal iframe {
    max-width: 70%;
    max-height: 70%;
}